$default-padding: 0px 100px;
$header-height: 70px;

//colors
$buff: #F9F1E7;
$ivory: #FCF8F3;
$primary: #E89F71;
$secondary: #ffd8bf;
$gray-light: #898989;
$gray-lighten: #F4F5F7;
$grey-dark: #616161;
$coral: #E97171;
$green: #2EC1AC;
