@import "../helpers/variables";

.button {
  &_primary-btn {
    background: $primary;
    color: #FFFFFF;
    border: none;
  }

  &_outlined-btn {
    border: 1px solid $primary;
    color: $primary;
    font-weight: 600;
    background: #FFFFFF;
  }

  &_large {
    width: 100%;
    padding: 24px;
    font-size: 20px;
  }

  &_medium {
    width: 250px;
    padding: 12px;
    font-size: 16px;
  }

  &_small {
    width: 170px;
    padding: 12px;
    font-size: 16px;
  }
}
