@import "../helpers/variables";
@import "../helpers/mixins";

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
}

.section {

  &__header {
    font-weight: 700;
    font-size: 40px;

    &_center {
      text-align: center;
    }
  }

  &_side-paddings {
    padding: 40px 100px;

    @media(max-width: 960px) {
      padding: 40px 0px;
    }
  }

  &_left-padding {
    padding: 40px 0px 40px 100px;
  }
}

.info-label {
  @include small-label;
  position: absolute;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;

  &_red {
    background: $coral;
  }

  &_green {
    background: $green;
  }

}

.text-article-block {

  &__header {
    margin: 8px 0px;
  }

  &__paragraph {
    color: $grey-dark;
    font-weight: 500;
    margin-bottom: 32px;
  }

}



